/* navbar */

.navbar {
  color: #3b5db4;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  box-shadow: 0px 3px 4px gray;
}

.navbar > .logo {
  margin-left: 15px;
}

.nav__toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0px;
}

.nav__toggle svg {
  width: 2.5rem;
}

.close {
  display: none;
}

.menu {
  margin-top: 0.2rem;
}

.nav__checkbox {
  display: none;
}

.nav__menu {
  display: none;
  text-align: right;
  margin-top: -20px;
  margin-right: 20px;
  list-style-type: none;
}

a:link,
a:visited {
  color: #3b5db4;
}

a:link {
  text-decoration: none;
}

#nav__checkbox:checked ~ ul.nav__menu {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

/* For Tablet & Computer Sizing */
@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-links {
    display: flex;
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  .navbar h1 {
    font-size: 40px;
    margin-top: 50%;
  }

  .nav__toggle {
    display: none;
  }

  .nav__menu {
    margin-top: 65px;
    flex-direction: row;
  }

  .nav__menu li {
    display: block;
    padding-left: 45px;
  }
}
