@use '../components/header';
@use '../base/typography';

$color: black;
$bg: #efefef;

body {
  font-family: 'Montserrat VF';
  background: $bg;
  color: $color;
  margin: 0;
}

// For get-started section
.get-started {
  text-align: center;
  &__one,
  &__two,
  &__three {
    box-shadow: 0px 0px 4px gray;
    border-radius: 0.5rem;
    background-color: white;
    margin: auto;
    width: 400px;
    margin-bottom: 40px;
    padding: 20px;

    &__desc {
      text-align: left;
    }

    &__number {
      margin-top: 0;
      background-color: #6993ff;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      margin-left: 43%;
      padding-top: 2px;
    }
  }
}

// For about-us section
.about-us {
  box-shadow: 0px 0px 4px gray;
  border-radius: 0.5rem;
  background-color: white;
  margin: auto;
  width: 400px;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;

  &__title {
    &__underline {
      hr {
        margin-top: -20px;
        margin-bottom: 15px;
        height: 5px;
        width: 95px;
        color: #6993ff;
        background-color: #6993ff;
      }
    }
  }

  &__desc {
    &__1,
    &__2 {
      text-align: left;
    }

    &__1 {
      padding-bottom: 20px;
    }
  }
}

// For contact-us section
#formElements {
  display: grid;
  row-gap: 0.5em;
  text-align: left;
}

label {
  padding-top: 10px;
  margin-bottom: -5px;
  font-weight: bold;
  font-size: 15px;
}

.contact-us {
  &__title {
    margin-top: -5px;
    &__underline {
      hr {
        margin-top: -20px;
        margin-bottom: 15px;
        height: 5px;
        width: 110px;
        color: #6993ff;
        background-color: #6993ff;
      }
    }
  }
}

.contact-us input,
.contact-us textarea,
.contact-us select,
.contact-us button {
  padding: 0.5em;
  font-size: 1rem;
}

fieldset {
  box-shadow: 0px 0px 4px gray;
  border-radius: 0.5rem;
  background-color: white;
  margin: auto;
  width: 400px;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
}

.contact-us button {
  background-color: #6993ff;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}
